config AW8697_HAPTIC
       tristate "Haptic driver for awinic aw8697 series"
       depends on I2C
       help
       This option enables support for aw8697 series Haptic Driver.
 comment "LED Triggers"
