config NXP_ESE_SN1XX
	bool "Nxp ESE sn1xx Controller"
	---help---
	  You'll have to say Y if your computer contains an sn1xx SPI device that
	  you want to use under Linux.

	  You can say N here if you don't have any sn1xx SPI connected to your computer.

config NXP_ESE_PN8XT
	bool "Nxp ESE pn8xt Controller"
	---help---
	  You'll have to say Y if your computer contains an pn8xt SPI device that
	  you want to use under Linux.

	  You can say N here if you don't have any pn8xt SPI connected to your computer.
