
#Added by Tong.han@Bsp.group.Tp for synaptics ic driver

config TOUCHPANEL_SYNAPTICS_S3706
#	default y
	bool "TP Synaptics_S3508 IC enable or not for OP"
	---help---
	say Y to enable driver for Touchpanel useing synaptics s3706
	say Y to enable driver for Touchpanel useing synaptics s3706
	

